*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #39297b;
    color:#fff ;
    background-image: url("background.jpg");
    background-size: cover;
}
h1{
    text-align: center;
    margin:100px auto 50px ;
    font-weight: 600;
    font-size: 2.3rem;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    /* background-color: #39297b; */
    display: flex;
    align-items: center;
}
form input{
    /* flex: 1; */
    height: 65%;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 1.5rem;
    font-size: 1rem;
    background-color: #fff;
    padding-left: 1.2rem;
}
form input::placeholder{
    color: #666666;
    padding-left: 3px;
    font-size: 0.9rem;
    font-weight: 400;
}
form button{
    height: 65%;
    width: 58.2px;
    background:linear-gradient(to right,  #e34a94,#4628a7);
    color: #fff;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 2.4px;
    animation: huerotate 2s linear infinite;
    
}
form button i{
    font-size: 1rem;
    color: #fff;
}
form button:hover{
    opacity:0.7;
}

#show-more-btn{
    background-color: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor:pointer;
    display: none;
}

#show-more-btn:hover{
    opacity:0.7;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit:cover;
    border-radius: 5px;
}

@keyframes huerotate {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

@media screen and (max-width:760px) {
    h1{
        text-align: center;
        margin:100px auto 50px ;
        font-weight: 600;
        font-size: 1.75rem;
    }
    form{
        width: 85%;
        max-width: 375px;
        margin-bottom: -45px;
    }
    #search-result{
        grid-template-columns: 1fr 1fr;
    }
}